@use '../mastodon/functions' as *;

// Black theme colors
$black: #000;
$white: #fff;

$classic-base-color: #2b2b2b;
$classic-primary-color: #b5b5b5;
$classic-secondary-color: #e5e5e5;
$classic-highlight-color: #9b9b9b;

$ui-base-color: $classic-base-color !default;
$ui-primary-color: $classic-primary-color !default;
$ui-secondary-color: $classic-secondary-color !default;
$ui-highlight-color: $classic-highlight-color !default;

@use '../mastodon/variables' with (
  $success-green: #79bd9a,
  $error-red: #df405a,
  $warning-red: #ff5050,
  $gold-star: #ca8f04,

  $base-shadow-color: $black,
  $base-overlay-background: $black,
  $base-border-color: $ui-secondary-color,
  $simple-background-color: $black,

  $ui-base-color: $classic-base-color,
  $ui-base-lighter-color: lighten($classic-base-color, 26%),
  $ui-primary-color: $classic-primary-color,
  $ui-secondary-color: $classic-secondary-color,
  $ui-highlight-color: $classic-highlight-color,

  $primary-text-color: $white,
  $darker-text-color: $classic-primary-color,
  $dark-text-color: lighten($classic-base-color, 26%),
  $secondary-text-color: $classic-secondary-color,
  $highlight-text-color: $classic-highlight-color,
  $action-button-color: lighten($classic-base-color, 26%),
  $inverted-text-color: $classic-base-color,
  $lighter-text-color: lighten($classic-base-color, 26%),
  $light-text-color: $classic-primary-color,

  $valid-value-color: #79bd9a,
  $error-value-color: #df405a
);
